In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os, sys

In [3]:
sys.path.append(os.path.abspath('..'))

In [3]:
%load_ext autoreload
%autoreload 2

In [14]:
from src.feature_engineering import FeatureEngineering

In [13]:
df = pd.read_csv('../data/merged_data.csv')
df['signup_time'] = pd.to_datetime(df['signup_time'], errors = 'coerce')
df['purchase_time'] = pd.to_datetime(df['purchase_time'], errors = 'coerce')

In [15]:
Fe = FeatureEngineering(df)

In [16]:
df.dtypes

user_id                    int64
signup_time       datetime64[ns]
purchase_time     datetime64[ns]
purchase_value             int64
device_id                 object
source                    object
browser                   object
sex                       object
age                        int64
ip_address                 int64
country                   object
class                      int64
dtype: object

In [17]:
Fe.get_purchase_weekday()

,user_id,signup_time,purchase_time,purchase_weekday,purchase_value,device_id,source,browser,sex,age,ip_address,country,class
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,5,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,732758368,Japan,0
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,0,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,350311387,United States,0
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,3,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2621473820,United States,1
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,0,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3840542443,NaN,0
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,2,39,NAUITBZFJKHWW,Ads,Safari,M,45,415583117,United States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
151107,345170,2015-01-27 03:03:34,2015-03-29 00:30:47,6,43,XPSKTWGPWINLR,SEO,Chrome,M,28,3451154526,United States,1
151108,274471,2015-05-15 17:43:29,2015-05-26 12:24:39,1,35,LYSFABUCPCGBA,SEO,Safari,M,32,2439047221,Netherlands,0
151109,368416,2015-03-03 23:07:31,2015-05-20 07:07:47,2,40,MEQHCSJUBRBFE,SEO,IE,F,26,2748470523,Japan,0
151110,207709,2015-07-09 20:06:07,2015-09-07 09:34:46,0,46,CMCXFGRHYSTVJ,SEO,Chrome,M,37,3601174708,United States,0
151111,138208,2015-06-10 07:02:20,2015-07-21 02:03:53,1,20,ZINIADFCLHYPG,Direct,IE,M,38,4103824510,NaN,0

In [18]:
Fe.get_purchase_hour()

,user_id,signup_time,purchase_time,purchase_hour,purchase_weekday,purchase_value,device_id,source,browser,sex,age,ip_address,country,class
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,2,5,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,732758368,Japan,0
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,1,0,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,350311387,United States,0
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,18,3,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2621473820,United States,1
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,13,0,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3840542443,NaN,0
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,18,2,39,NAUITBZFJKHWW,Ads,Safari,M,45,415583117,United States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151107,345170,2015-01-27 03:03:34,2015-03-29 00:30:47,0,6,43,XPSKTWGPWINLR,SEO,Chrome,M,28,3451154526,United States,1
151108,274471,2015-05-15 17:43:29,2015-05-26 12:24:39,12,1,35,LYSFABUCPCGBA,SEO,Safari,M,32,2439047221,Netherlands,0
151109,368416,2015-03-03 23:07:31,2015-05-20 07:07:47,7,2,40,MEQHCSJUBRBFE,SEO,IE,F,26,2748470523,Japan,0
151110,207709,2015-07-09 20:06:07,2015-09-07 09:34:46,9,0,46,CMCXFGRHYSTVJ,SEO,Chrome,M,37,3601174708,United States,0
151111,138208,2015-06-10 07:02:20,2015-07-21 02:03:53,2,1,20,ZINIADFCLHYPG,Direct,IE,M,38,4103824510,NaN,0

In [19]:
Fe.transaction_frequency()

,user_id,transaction_frequency,signup_time,purchase_time,purchase_hour,purchase_weekday,purchase_value,device_id,source,browser,sex,age,ip_address,country,class
0,22058,1,2015-02-24 22:55:49,2015-04-18 02:47:11,2,5,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,732758368,Japan,0
1,333320,1,2015-06-07 20:39:50,2015-06-08 01:38:54,1,0,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,350311387,United States,0
2,1359,1,2015-01-01 18:52:44,2015-01-01 18:52:45,18,3,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2621473820,United States,1
3,150084,1,2015-04-28 21:13:25,2015-05-04 13:54:50,13,0,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3840542443,NaN,0
4,221365,1,2015-07-21 07:09:52,2015-09-09 18:40:53,18,2,39,NAUITBZFJKHWW,Ads,Safari,M,45,415583117,United States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151107,345170,1,2015-01-27 03:03:34,2015-03-29 00:30:47,0,6,43,XPSKTWGPWINLR,SEO,Chrome,M,28,3451154526,United States,1
151108,274471,1,2015-05-15 17:43:29,2015-05-26 12:24:39,12,1,35,LYSFABUCPCGBA,SEO,Safari,M,32,2439047221,Netherlands,0
151109,368416,1,2015-03-03 23:07:31,2015-05-20 07:07:47,7,2,40,MEQHCSJUBRBFE,SEO,IE,F,26,2748470523,Japan,0
151110,207709,1,2015-07-09 20:06:07,2015-09-07 09:34:46,9,0,46,CMCXFGRHYSTVJ,SEO,Chrome,M,37,3601174708,United States,0
151111,138208,1,2015-06-10 07:02:20,2015-07-21 02:03:53,2,1,20,ZINIADFCLHYPG,Direct,IE,M,38,4103824510,NaN,0

In [20]:
Fe.velocity_check()

,user_id,transaction_frequency,signup_time,purchase_time,velocity_check,purchase_hour,purchase_weekday,purchase_value,device_id,source,browser,sex,age,ip_address,country,class
0,22058,1,2015-02-24 22:55:49,2015-04-18 02:47:11,4506682.0,2,5,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,732758368,Japan,0
1,333320,1,2015-06-07 20:39:50,2015-06-08 01:38:54,17944.0,1,0,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,350311387,United States,0
2,1359,1,2015-01-01 18:52:44,2015-01-01 18:52:45,1.0,18,3,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2621473820,United States,1
3,150084,1,2015-04-28 21:13:25,2015-05-04 13:54:50,492085.0,13,0,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3840542443,NaN,0
4,221365,1,2015-07-21 07:09:52,2015-09-09 18:40:53,4361461.0,18,2,39,NAUITBZFJKHWW,Ads,Safari,M,45,415583117,United States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151107,345170,1,2015-01-27 03:03:34,2015-03-29 00:30:47,5261233.0,0,6,43,XPSKTWGPWINLR,SEO,Chrome,M,28,3451154526,United States,1
151108,274471,1,2015-05-15 17:43:29,2015-05-26 12:24:39,931270.0,12,1,35,LYSFABUCPCGBA,SEO,Safari,M,32,2439047221,Netherlands,0
151109,368416,1,2015-03-03 23:07:31,2015-05-20 07:07:47,6681616.0,7,2,40,MEQHCSJUBRBFE,SEO,IE,F,26,2748470523,Japan,0
151110,207709,1,2015-07-09 20:06:07,2015-09-07 09:34:46,5146119.0,9,0,46,CMCXFGRHYSTVJ,SEO,Chrome,M,37,3601174708,United States,0
151111,138208,1,2015-06-10 07:02:20,2015-07-21 02:03:53,3524493.0,2,1,20,ZINIADFCLHYPG,Direct,IE,M,38,4103824510,NaN,0

In [21]:
df.head()

,user_id,transaction_frequency,signup_time,purchase_time,velocity_check,purchase_hour,purchase_weekday,purchase_value,device_id,source,browser,sex,age,ip_address,country,class
0,22058,1,2015-02-24 22:55:49,2015-04-18 02:47:11,4506682.0,2,5,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,732758368,Japan,0
1,333320,1,2015-06-07 20:39:50,2015-06-08 01:38:54,17944.0,1,0,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,350311387,United States,0
2,1359,1,2015-01-01 18:52:44,2015-01-01 18:52:45,1.0,18,3,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2621473820,United States,1
3,150084,1,2015-04-28 21:13:25,2015-05-04 13:54:50,492085.0,13,0,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3840542443,NaN,0
4,221365,1,2015-07-21 07:09:52,2015-09-09 18:40:53,4361461.0,18,2,39,NAUITBZFJKHWW,Ads,Safari,M,45,415583117,United States,0

In [22]:
df.dtypes

user_id                           int64
transaction_frequency             int64
signup_time              datetime64[ns]
purchase_time            datetime64[ns]
velocity_check                  float64
purchase_hour                     int32
purchase_weekday                  int32
purchase_value                    int64
device_id                        object
source                           object
browser                          object
sex                              object
age                               int64
ip_address                        int64
country                          object
class                             int64
dtype: object

In [23]:
df.isna().sum()

user_id                      0
transaction_frequency        0
signup_time                  0
purchase_time                0
velocity_check               0
purchase_hour                0
purchase_weekday             0
purchase_value               0
device_id                    0
source                       0
browser                      0
sex                          0
age                          0
ip_address                   0
country                  21966
class                        0
dtype: int64

In [25]:
df = df.dropna(axis = 0)

In [26]:
df.head(20)

,user_id,transaction_frequency,signup_time,purchase_time,velocity_check,purchase_hour,purchase_weekday,purchase_value,device_id,source,browser,sex,age,ip_address,country,class
0,22058,1,2015-02-24 22:55:49,2015-04-18 02:47:11,4506682.0,2,5,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,732758368,Japan,0
1,333320,1,2015-06-07 20:39:50,2015-06-08 01:38:54,17944.0,1,0,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,350311387,United States,0
2,1359,1,2015-01-01 18:52:44,2015-01-01 18:52:45,1.0,18,3,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2621473820,United States,1
4,221365,1,2015-07-21 07:09:52,2015-09-09 18:40:53,4361461.0,18,2,39,NAUITBZFJKHWW,Ads,Safari,M,45,415583117,United States,0
5,159135,1,2015-05-21 06:03:03,2015-07-09 08:05:14,4240931.0,8,3,42,ALEYXFXINSXLZ,Ads,Chrome,M,18,2809315199,Canada,0
7,360585,1,2015-04-06 07:35:45,2015-05-25 17:21:14,4268729.0,17,0,27,HPUCUYLMJBYFW,Ads,Opera,M,34,1692458727,United States,0
8,159045,1,2015-04-21 23:38:34,2015-06-02 14:01:54,3594200.0,14,1,30,ILXYDOZIHOOHT,SEO,IE,F,43,3719094257,China,0
9,182338,1,2015-01-25 17:49:49,2015-03-23 23:05:42,4943753.0,23,0,62,NRFFPPHZYFUVC,Ads,IE,M,31,341674739,United States,0
10,199700,1,2015-07-11 18:26:54,2015-10-28 21:59:40,9430366.0,21,2,13,TEPSJVVXGNTYR,Ads,Safari,F,35,1819008577,United States,0
13,299320,1,2015-03-03 19:17:07,2015-04-05 12:32:36,2826929.0,12,6,50,RMKQNVEWGTWPC,Direct,Safari,M,38,3178510014,Brazil,0
15,31383,1,2015-02-01 01:06:17,2015-03-24 10:17:58,4439501.0,10,1,58,UNUAVQXNWFBMO,SEO,Safari,F,24,995732779,India,0
16,78986,1,2015-05-15 03:52:08,2015-08-11 02:29:47,7598259.0,2,1,57,TGHVAWBMZRDHH,SEO,FireFox,M,23,3503883391,United States,0
18,357386,1,2015-02-03 00:48:38,2015-03-24 18:27:23,4297125.0,18,1,40,NWSVDOHYIOBDR,Ads,FireFox,M,24,3037372279,Argentina,0
19,289172,1,2015-07-17 05:48:45,2015-11-12 22:08:11,10253966.0,22,3,46,KFZGQIWDIRLZB,Direct,FireFox,F,53,1044590097,United Kingdom,0
22,343378,1,2015-01-30 08:50:29,2015-04-22 15:11:45,7107676.0,15,2,47,VOMVNRHNBLLMI,SEO,Chrome,F,24,1008390841,China,0
23,370338,1,2015-01-08 11:47:29,2015-03-29 20:46:44,6944355.0,20,6,25,QLMZBEDPYFUXT,Ads,IE,M,34,3442657972,United States,0
24,171711,1,2015-01-11 01:51:15,2015-01-11 01:51:16,1.0,1,6,52,YPLQGKBAAULUV,Direct,IE,F,35,1120619335,United States,1
25,59780,1,2015-01-04 22:32:33,2015-01-16 01:13:43,960070.0,1,4,31,WUMOBGUCBOXPO,SEO,FireFox,M,36,1752166823,United States,1
26,176129,1,2015-01-28 12:53:51,2015-01-29 23:21:43,124072.0,23,3,37,XUNJIVTRXCRZL,Ads,IE,M,32,745823926,United States,0
27,100886,1,2015-07-12 14:14:04,2015-07-29 07:41:26,1445242.0,7,2,54,GIREUSMFWWUZJ,SEO,Chrome,F,28,1799140970,United States,0

In [27]:
df.isna().sum()

user_id                  0
transaction_frequency    0
signup_time              0
purchase_time            0
velocity_check           0
purchase_hour            0
purchase_weekday         0
purchase_value           0
device_id                0
source                   0
browser                  0
sex                      0
age                      0
ip_address               0
country                  0
class                    0
dtype: int64

In [28]:
df.to_csv('../data/cleaned_data.csv', index= False)